.header img{
    height:280px;
    width:100%;
   
    
}
.header{
    text-align: center;
}
.header nav{
    background-color: cyan;
    line-height: 80px;
    font-size: 30px;

}
nav a{
    text-decoration: none;
    color:white;
    margin-right: 25px;
    padding:15px;
    
}
nav a:hover{
    background-color: gray;

}